@model DatabaseIndexModel
@{
    ViewData["Title"] = "Database Entries";
}

<head>
    <style>
        td, th{
            border: 1px solid black;
            padding-left: 10px;
            padding-right: 10px
        }

        input {
            width: 100%
        }

        button {
            border-radius: 8px;
            color: #333333;
            font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            line-height: 20px;
        }
    </style>
</head>

@Html.Partial("Message")

<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tbody>
        @{ foreach (var person in Model.people)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td><a asp-controller="Database" asp-action="Detail" asp-route-personId="@person.Id">Detail</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-controller="DataBase" asp-action="Add">Add a new person here</a>